<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por Pais</h2>
  <hr>
  <div class="row">
    <div class="col">

      <app-country-input (onEnter)="search($event)" (onDebounce)="suggestions($event)" placeholder="Buscar pais...">
      </app-country-input>

    </div>
  </div>

  <ul *ngIf="showSuggestions" class="list-group">
    <li *ngFor="let suggestion of suggest"
        class="list-group-item list-group-item-action">
        <a class="nav-link"
           [routerLink]="['/country', suggestion.alpha2Code]">
          {{ suggestion.name }}
        </a>
    </li>
    <li class="list-group-item list-group-item-action"
        (click)="searchSuggested(term)">
        <a class="nav-link">
          Buscar "{{ term }}"
        </a>
    </li>
  </ul>

  <hr>
</div>

<div *ngIf="hasError" class="alert alert-danger">
  No se encontro nada con el termino {{ term }}.
</div>

<div *ngIf="!hasError && countries.length > 0" class="row">
  <div class="col">

    <app-country-table [data]="countries"></app-country-table>

  </div>
</div>
